[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
certifi = "==2024.6.2"
cffi = "==1.16.0"
cryptography = "==42.0.8"
distlib = "==0.3.8"
django = "==5.0.6"
django-rest-knox = "==4.2.0"
djangorestframework = "==3.15.2"
djangorestframework-jwt = "==1.11.0"
djangorestframework-simplejwt = "==5.3.1"
drf-yasg = "==1.21.7"
filelock = "==3.15.4"
inflection = "==0.5.1"
packaging = "==24.1"
pillow = "==10.4.0"
pipenv = "==2024.0.1"
platformdirs = "==4.2.2"
pycparser = "==2.22"
pyjwt = "==1.7.1"
pyopenssl = "==24.1.0"
pytz = "==2024.1"
pyyaml = "==6.0.1"
sqlparse = "==0.5.0"
tzdata = "==2024.1"
uritemplate = "==4.1.1"
virtualenv = "==20.26.3"

[dev-packages]

[requires]
python_version = "3.11"
